h1{
	text-align: center;
	margin:0 0 40px 0;
}

label{
	display: block;
}



#instafeed{
	margin-top: 2em;
}

body{
	margin: 2em;
}

.inputs{
	display:block;
}

#expandSettings{
	float:right;
	margin: 5px 0 5px 0;
}

.inputs, .parameters, .results-add, .results-calc, .covered, .max-dist{
	width: 50%;
	margin:auto;
}


.param-wrapper{
	display:block;
	margin: 2em 0 0 0;
}

.parameters{
	margin-top: 2em;
	border-radius:0.5em;
}



.parameters input{
	background-color: #F2F2E6;
	border:none;
	box-shadow: none;
}

body{
	background-color: #F2F2E6;
}

.parameters{
	display:none;
}

.covered td, .max-dist td{
	text-align: center;
}

.hide{
	display: none;
}


.calculation{
	margin-top: 1em;
}


